In [3]:
import pandas as pd
df=pd.read_csv('netflix1.csv')

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8790 entries, 0 to 8789
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   type          8790 non-null   int32
 1   country       8790 non-null   int32
 2   release_year  8790 non-null   int64
 3   rating        8790 non-null   int32
 4   duration      8790 non-null   int64
 5   listed_in     8790 non-null   int32
dtypes: int32(4), int64(2)
memory usage: 274.8 KB

In [8]:
df.isnull()

       type  country  release_year  rating  duration  listed_in
0     False    False         False   False     False      False
1     False    False         False   False     False      False
2     False    False         False   False     False      False
3     False    False         False   False     False      False
4     False    False         False   False     False      False
...     ...      ...           ...     ...       ...        ...
8785  False    False         False   False     False      False
8786  False    False         False   False     False      False
8787  False    False         False   False     False      False
8788  False    False         False   False     False      False
8789  False    False         False   False     False      False

[8790 rows x 6 columns]

In [9]:
df.describe()

,type,country,release_year,rating,duration,listed_in
count,8790.000000,8790.000000,8790.000000,8790.000000,8790.000000,8790.000000
mean,0.303072,56.234243,2014.183163,7.017292,69.934471,271.677247
std,0.459612,26.094167,8.825466,1.950385,50.794433,131.171985
min,0.000000,0.000000,1925.000000,0.000000,1.000000,0.000000
25%,0.000000,29.000000,2013.000000,6.000000,2.000000,198.000000
50%,0.000000,70.000000,2017.000000,8.000000,88.500000,288.000000
75%,1.000000,80.000000,2019.000000,8.000000,106.000000,365.750000
max,1.000000,85.000000,2021.000000,13.000000,312.000000,512.000000

In [6]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import accuracy_score, classification_report
from sklearn.linear_model import LogisticRegression
df = pd.read_csv("netflix1.csv") 
df = df.drop(columns=["show_id", "title", "director", "date_added"])
def convert_duration(val):
    return int(val.split()[0])
df["duration"] = df["duration"].apply(convert_duration)
le = LabelEncoder()
categorical_cols = ["country", "rating", "listed_in", "type"]
for col in categorical_cols:
    df[col] = le.fit_transform(df[col])
X = df.drop("type", axis=1)
y = df["type"]
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42
)
model = LogisticRegression(max_iter=1000)
model.fit(X_train, y_train)
y_pred = model.predict(X_test)
print("Accuracy:", accuracy_score(y_test, y_pred))
print(classification_report(y_test, y_pred))

Accuracy: 0.997155858930603
              precision    recall  f1-score   support

           0       1.00      1.00      1.00      1238
           1       0.99      1.00      1.00       520

    accuracy                           1.00      1758
   macro avg       1.00      1.00      1.00      1758
weighted avg       1.00      1.00      1.00      1758